<header>
  <div class=header__user>
    <%= link_to "ログイン", "#" %>
  </div>
  <div class=header__title>
   素人でも解ける(かもしれない!?)看護師国家試験問題集
   </div>
</header>
<body>
 <div class= question>
    <div class = question__box>
      <div class= question__info>
        <div class= question__title>
          <%=link_to "クイズ1に挑戦！", "#" %>
        </div>
        <div class= question__level>
          レベル:1
        </div>
        <div class=question__ravel>
        問題数:５問
        </div>
      </div>
      <div class=question__answer>
        <div class=question__user>
          あなたの正解数：0問
        </div>
        <div class=question__average>
          平均正解数:3問
        </div>
        <div class=question__ranking>
          <%=link_to "ランキングはこちら", "#" %>
        </div>
      </div>
    </div>
  </div>

  <div class= question>
    <div class = question__box>
      <div class= question__info>
        <div class= question__title>
          <%=link_to "クイズ2に挑戦！", "#" %>
        </div>
        <div class= question__level>
          レベル:2
        </div>
        <div class=question__ravel>
        問題数:５問
        </div>
      </div>
      <div class=question__answer>
        <div class=question__user>
          あなたの正解数：0問
        </div>
        <div class=question__average>
          平均正解数:3問
        </div>
        <div class=question__ranking>
          <%=link_to "ランキングはこちら", "#" %>
        </div>
      </div>
    </div>
  </div>
</body>
