<header>
  <div class=header__user>
    <%= link_to "ログイン", "#" %>
  </div>
  <div class=header__title>
   素人でも解ける(かもしれない!?)看護師国家試験問題集
   </div>
</header>
<body>
    <div class=attention>
      ※問題は全て看護師国家試験の過去問題を基に作成しています。ただし一部問題、選択肢の改変を含みます。
    </div>
  <div class= quiz>
    <div class = quiz__box>
      <div class= quiz__info>
        <div class= quiz__title>
          <%=link_to "テーマ1:日本人の統計", "quizs1/show" %>
        </div>
        <div class= quiz__level>
          レベル:1
        </div>
        <div class=quiz__ravel>
        問題数:５問
        </div>
      </div>
      <div class=quiz__answer>
        <div class=quiz__user>
          あなたの正解数：0問
        </div>
        <div class=quiz__average>
          平均正解数:3問
        </div>
        <div class=quiz__ranking>
          <%=link_to "ランキングはこちら", "#" %>
        </div>
      </div>
    </div>
  </div>

  <div class= quiz>
    <div class = quiz__box>
      <div class= quiz__info>
        <div class= quiz__title>
          <%=link_to "テーマ2:人間のからだ", "quizs2/show" %>
        </div>
        <div class= quiz__level>
          レベル:2
        </div>
        <div class=quiz__ravel>
        問題数:５問
        </div>
      </div>
      <div class=quiz__answer>
        <div class=quiz__user>
          あなたの正解数：0問
        </div>
        <div class=quiz__average>
          平均正解数:3問
        </div>
        <div class=quiz__ranking>
          <%=link_to "ランキングはこちら", "#" %>
        </div>
      </div>
    </div>
  </div>
</body>
